@font-face {
  font-family: "FunnyKid";
  src: local("FunnyKid"), url("/fonts/FunnyKid.ttf") format("truetype");
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

.container-button-players {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  align-items: center;
}

.players-options {
  display: flex;
  align-items: center;
}
