@font-face {
  font-family: "FunnyKid";
  src: local("FunnyKid"), url("/fonts/FunnyKid.ttf") format("truetype");
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

.container-button-players {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  align-items: center;
}

.players-options {
  display: flex;
  align-items: center;
}

.drink-till-you-die {
  font-family: "FunnyKid";
  background-color: rgba(192, 211, 204, 0.342);
  margin: 15px;
  margin-bottom: 0px;
  padding: 40px 0;

  h1 {
    margin: 0;
    font-size: 50px;
    text-align: center;
  }
}

.you-win-box {
  font-family: "FunnyKid";
  background-color: rgba(192, 211, 204, 0.342);
  margin: 15px;
  margin-top: 0px;
  padding: 40px 0;

  h1 {
    margin: 0;
    font-size: 50px;
    text-align: center;
  }
}
