@font-face {
  font-family: "FunnyKid";
  src: local("FunnyKid"), url("/fonts/FunnyKid.ttf") format("truetype");
}

.container-title-players {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.container-title-players h1 {
  font-family: "FunnyKid";
  font-size: 60px;
  color: #080701;
}

header {
  max-width: 1200px;
  margin: 15px auto;
}

.players-options {
  display: flex;
  align-items: center;
}

.players-options button {
  margin-left: 25px;
}
