@function generateGrid($x, $y) {
  $areas: ();
  $alternate: false;
  $count: 0;

  @for $i from 1 through $y {
    $str: "";

    @for $j from 1 through $x {
      @if ($alternate) {
        $str: unquote($str) + box-#{$count + $x - $j + 1 + unquote(" ")};
      } @else {
        $str: unquote($str) + box-#{$count + $j + unquote(" ")};
      }
    }

    $count: $count + $x;
    $areas: append($areas, quote($str));
    $alternate: not $alternate;
  }

  @return $areas;
}

@mixin boxes($total) {
  @for $i from 1 through $total {
    .box-#{$i} {
      grid-area: box-#{$i};
    }
  }
}

@mixin box-edges($x, $y) {
  .box:nth-child(#{$x}n) {
    border-bottom: none;
  }

  .box:nth-child(#{$x}n + 1) {
    border-top: none;
  }

  .box:nth-child(#{$x * 2}n) {
    border-bottom: none;
  }

  .box:nth-child(#{$x * 2}n + 1) {
    border-top: none;
  }

  // Why first-child / last-child doesn't work?
  .box:nth-child(1) {
    border-top: 3px solid black;
  }

  .box:nth-child(#{$x * $y}) {
    border-bottom: 3px solid black;
  }
}

$total: 66;

.Board {
  display: grid;
  border: 3px solid black;
  grid-auto-rows: 1fr;
  grid-template-areas: generateGrid(6, 11);
  @include box-edges(6, 11);
  max-width: 1200px;
  margin: 15px auto;
  color: white;
}

// Hack for squared grids
// https://medium.com/cloudaper/how-to-create-a-flexible-square-grid-with-css-grid-layout-ea48baf038f3
.Board::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.Board > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.box {
  box-sizing: border-box;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-align: center;
}

@include boxes($total);

.g3x8 {
  grid-template-areas: generateGrid(3, 8);

  @include box-edges(3, 8);
}

.g4x6 {
  grid-template-areas: generateGrid(4, 6);

  @include box-edges(4, 6);
}

.g6x4 {
  grid-template-areas: generateGrid(6, 4);

  @include box-edges(6, 4);
}

// COLORS :)
.box:nth-child(1n) {
  background-color: #a405d4;
}

.box:nth-child(3n) {
  background-color: #34ebff;
}

.box:nth-child(5n) {
  background-color: #00d51b;
}

.box:nth-child(2n) {
  background-color: #f6db35;
}

.box:nth-child(4n) {
  background-color: #f88400;
}

.box:nth-child(6n) {
  background-color: #df3100;
}
