@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

.tokens {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-box {
  h1 {
    font-size: 60px;
  }

  p {
    font-size: 30px;
  }
}
