@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

.tokens {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-box {
  h1 {
    font-size: 60px;
  }

  p {
    font-size: 30px;
  }
}

/* This query was necessary for changing the size of the elements on mobile cellphone*/
@media only screen and (max-width: 400px) {
  /*welcome section media query*/

  .container-box {
    h1 {
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }
  }
}
