.dice {
  background: none;
  border: none;
  font-size: 60px;
  padding: 20px;
  transition-duration: 0.2s;
  transition-property: color;
}

.d-1 {
  color: #4834d4;
}

.d-2 {
  color: #eb4d4b;
}

.d-3 {
  color: #6ab04c;
}

.d-4 {
  color: #be2edd;
}

.d-5 {
  color: #22a6b3;
}

.d-6 {
  color: #f0932b;
}
