.dice {
  background: none;
  border: none;
  font-size: 60px;
  padding: 20px;
  transition-duration: 0.2s;
  transition-property: color;
}

.d-1 {
  color: #a405d4;
}

.d-2 {
  color: #34ebff;
}

.d-3 {
  color: #00d51b;
}

.d-4 {
  color: #f6db35;
}

.d-5 {
  color: #f88400;
}

.d-6 {
  color: #df3100;
}
