header {
  .container-button-players {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    align-items: center;
  }

  .players-options {
    display: flex;
    align-items: center;
  }
}
