@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

.picker {
  justify-content: center;
  padding: 10px 0;
}

.user {
  padding: 10px 0;
  font-size: 25px;
}

.small {
  display: none;
}

/* This query was necessary for changing the size of the elements on mobile cellphone*/
@media only screen and (max-width: 400px) {
  /*welcome section media query*/

  .user {
    padding: 10px 0;
    font-size: 15px;
  }

  .large {
    display: none;
  }

  .small {
    display: flex;
  }
}
