.emoji {
  display: inline-block;
  border: 5px solid rgba(249, 248, 250, 0.6);
  border-radius: 50px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: aliceblue;
  margin: 2px;
}
